{% extends "base.html" %}

{% block content%}


	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
            {% load static %}
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src='{% static "static_img/elsenor.jpg" %}' alt="Stanley" height="300px" width="300px" class="imgCg">
					<h1>Calabozo UPP </h1>
					<p>Comunidad donde puedes compartir tus conocimientos y experiencias en juegos ya sea de cartas como Yu-Gi-Oh!, mesa como Catan o maquinas como KOF.</p>
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->




{% endblock %}