{% extends "base.html" %}

{% block content %}

<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>CONTACTANOS</h3>
				<hr>
				<p>Ingresa tus datos Elfo(a) y nosotros te contactamos </p>
			</div>
		</div>
		<div class="row mt">
			<div class="col-lg-8 col-lg-offset-2">
				<form role="form">
				  <div class="form-group">
				    <input type="name" class="form-control" id="NameInputEmail1" placeholder="Tu nombre va aqui">
				    <br>
				  </div>
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Tu email va aqui">
				    <br>
				  </div>
				  <div class="form-group">
				    <input type="email" class="form-control" id="subjectEmail1" placeholder="Tema">
				    <br>
				  </div>
				  <textarea class="form-control" rows="6" placeholder="Pon tu mensaje aqui"></textarea>
				    <br>
				  <button type="submit" class="btn btn-success">ENVIAR</button>
				</form>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->


{% endblock %}